body {
    background-color: #222431;
}

@font-face {
    font-family: assassin;
    src: url("../text/assassin.ttf");
}


#wrap {
    box-align: start;
    background-color: #6B2737;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    padding: 30px;
    border-radius: 20px;

    width: 70%;
    margin: auto;

    position: center;

    height: 90vh;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


header {
    font-family: assassin;
    color: #C7AC92;
    letter-spacing: 5px;
    font-weight: lighter;
}

.image {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

#main {
    background: #C7AC92;

    border-radius: 180px;
    width: 250px;
    height: 250px;


}

nav {
    /*border: solid 1px blue;*/
    font-family: assassin;
    list-style: none;
    flex-grow: 1;

    display: flex;
    align-content: center;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    width: 100%;

    display: flex;
    justify-content: center;
}

nav ul a {
    border-radius: 5px;
    background: #C7AC92;

    margin: 0px;
    padding: 0px;

    width: 45%;
    height: 30px;

    padding-top: 10px;
    display: flex;
    text-align: center;
    color: #222431;


}

nav ul a:link {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #222431;
}

nav ul a li:hover {
    color: #6B2737;
}

nav ul a li:active {
    color: goldenrod;
}

nav ul a li:visited {
    color: #7d5637;
}

nav ul a li:focus {
    color: #a44a3f;
}