body {
    background-color: #e5d6d5;
    padding-top: 20px;
    padding-bottom: 20px;

    padding-left: 5%;
    padding-right: 20px;
    align-items: center;
    display: block;
    justify-content: center;


}

.col-6 {
    display: flex;
    justify-content: center;
}

.col-md-12,
{
display: flex;
justify-content: center;

}

.col-md-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: high;
    src: url("../fonts/highspirited.ttf");
}

@font-face {
    font-family: saudagar;
    src: url("../fonts/saudager.ttf");
}


.container {
    background-color: #efeeec;
    padding: none;
    margin: none;
    border-radius: 20px;
    align-items: center;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.icon {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-thumbnail {
    align-items: center;
    height: 100%;
    width: 150px;
    border: none;
    border-radius: 50%;
    background-color: #e5d6d5;
    display: flex;
    justify-content: center;
}

.btn-group {
    display: flex;
    justify-content: center;

    align-items: center;
}

.btn-primary {
    display: flex;
    justify-content: center;
    background-color: #BF4135;
    border: none;
    color: #ebe5c2;

    height: 50px;
    width: 330px;

    font-family: saudagar;
    font-size: 20px;
    align-items: center;
}


a.btn.btn-primary:hover,
a.btn.btn-primary:focus {
    background-color: #5CD4BA;
    border-color: none;
    background-image: none;
    color: #325679;
}

a.btn.btn-primary:active {
    background-color: #325679;
    border-color: none;
    background-image: none;
    color: #5CD4BA;
}

a.btn.btn-primary:visited {
    background-color: #9F1C30;
    border-color: none;
    background-image: none;
    color: #ebe5c2;

}

.btn.btn-outline-primary {
    border: none;
    width: 50px;
    height: 50px;

    padding: none;
    margin: none;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BF4135;

}

.btn.btn-outline-primary:hover {
    background-color: #5CD4BA;
    border-color: none;
    background-image: none;
    color: #325679;
    border: none;

}

.desktop {
    display: none;
}

.break {
    display: none;

}

.mailingList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    min-height: 30vh;
    display: block;
    padding-top: 50px;
    align-items: center;
}

.socialMedia {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.noPadding {
    padding: none;
    margin: none;
}


.input-group {
    width: 300px;
    color: #ebe5c2;
    font-family: saudagar;
    font-size: 10px;

}

.input-group-text {
    background-color: #BF4135;
    color: #ebe5c2;
    font-family: saudagar;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: high;
    font-size: 45px;
    color: #325679;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

h4 {
    font-family: high;
    font-size: 45px;
    color: #325679;
    padding-bottom: 2px;

    display: flex;
    justify-content: center;
}